<!DOCTYPE html>
<html>
<head>
    <title>Mi Blog de Autos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'listar_coches' %}">Coches</a></li>
                <li><a href="{% url 'acerca_de' %}">Acerca de</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                <li><a href="{% url 'perfil' %}">Mi perfil</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
